<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" lang="ko">
<head>
  <meta charset="UTF-8">
  <title>로그인</title>
</head>
<body>
<!--헤더 프레그먼트-->
<div th:insert="~{fragments :: headerFragment}"></div>

<div class="container">
  <form th:action="@{/user/login}" th:method="post">
    <div class="form-group">
      <ul>
        <li>
          <label for="username">아디</label>
          <input type="text" id="username" name="username" placeholder="아이디입력">
        </li>
        <li>
          <label for="password">비번</label>
          <input type="password" id="password" name="password" placeholder="비밀번호입력">
        </li>
        <li>
          <button type="submit">로그인</button>
          <button type="button" onclick="window.history.back()">이전으로</button>
        </li>
      </ul>
    </div>
  </form>
</div> <!-- /container -->
</body>
</html>